* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

html {
    scroll-behavior: smooth;
  }

:root {
    --primary-color: #000000;
    --secondary-color: #ff017d;
    --background-color: #f9f9f9;
    --light-gray: #ebebeb;
    --dark-gray: #6c6c6c;
}



#topbar {
    display: flex;
    justify-content: space-between;
    background-color: var(--background-color);
    padding: 10px 150px;
    font-size: 14px;
    color: var(--dark-gray);
    border-bottom: 1px solid var(--light-gray);
}

#topbar h3 {
    display: flex;
    align-items: center;
    font-weight: normal;
}

#topbar img {
    width: 18px;
    margin-right: 5px;
}


#midbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: white;
    
}


#logo img {
    width: 160px;
    height: auto;
    cursor: pointer;
    margin-bottom: -40px;
    margin-top: -40px;
    margin-left: 50%;
}



#searchbar {
    display: flex;
    width: 100%;
    max-width: 600px;
    margin: 0 auto; 
    position: relative;
}


#searchbar input[type="text"] {
    width: 100%;
    padding: 10px 15px;
    font-size: 16px;
    border: 1px solid var(--light-gray);
    border-radius: 25px;
    background-color: white;
    color: var(--dark-gray);
    outline: none;
    transition: border-color 0.3s ease;
}

#searchbar input[type="text"]::placeholder {
    color: var(--dark-gray);
    opacity: 0.6;
}

#searchbar input[type="text"]:focus {
    border-color: var(--primary-color);
}

.formularz {
    width: 122%;
}

#searchbar a {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

#searchbar img {
    width: 15px;
    height: 15px;
    filter: invert(1);
}

#cart, #user {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: var(--dark-gray);
    position: relative;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#cart a, #user a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
    position: relative;
}

#cart::after, #user::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.5);
    transition: width 0.3s ease, left 0.3s ease;
}

#cart:hover::after, #user:hover::after {
    width: 100%;
    left: 0;
}

#cart:hover, #user:hover {
    background-color: rgba(211, 211, 211, 0.2);
}

#cart img, #user img {
    width: 24px;
    margin-right: 10px;
}

#cart:hover a, #user:hover a {
    color: var(--primary-color);
}

#categories {
    background-color: var(--background-color);
    border-bottom: 1px solid var(--light-gray);
    padding: 10px 150px;
}

#categories ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

#categories li {
    position: relative; 
    margin: 0 10px; 
    cursor: pointer; 
    padding-left: 1.5%;
    padding-right: 1.5%;
}

#categories li::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.5);
    transition: width 0.3s ease, left 0.3s ease;
}

#categories li:hover::after {
    width: 100%;
    left: 0;
}

#categories li:hover {
    background-color: rgba(211, 211, 211, 0.2);
}

#categories a.category-link {
    display: block; 
    padding: 10px 15px;
    text-decoration: none;
    color: var(--dark-gray);
    font-size: 15px;
    font-weight: 600;
    transition: color 0.3s;
    height: 100%;
    line-height: 1.5;
}

#categories a.category-link:hover {
    color: var(--primary-color);
}

#categories a.highlight {
    color: var(--secondary-color);
}




.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.5);
    animation: fadeIn 0.5s;
}

.modal-content {
    background-color: #ffffff;
    margin: 8% auto; 
    padding: 30px;
    border: 1px solid #888;
    border-radius: 8px;
    width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    animation: slideIn 0.5s;
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes slideIn {
    from {transform: translateY(-50%);}
    to {transform: translateY(0);}
}


.modal.fade-out {
    animation: fadeOut 0.5s forwards;
}

@keyframes fadeOut {
    from {opacity: 1;}
    to {opacity: 0;}
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

h2 {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 8px;
}

.form-group input {
    width: 100%;
    padding: 12px;
    border: 1px solid var(--light-gray);
    border-radius: 4px;
    transition: border-color 0.3s, background-color 0.3s;
}

.form-group input:focus {
    border-color: var(--primary-color);
    background-color: #f0f9ff;
}

button {
    background-color: var(--primary-color);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
    font-size: 16px;
}

button:hover {
    background-color: var(--secondary-color);
}

#toggle-link {
    color: #7a9abe;
    cursor: pointer;
    text-align: center;
    margin-top: 20px;
    font-size: 16px;
    transition: color 0.3s;
}

#toggle-link:hover {
    color: #557a98;
}


.password-strength {
    height: 5px;
    border-radius: 4px;
    margin-top: 5px;
    background-color: #e0e0e0;
    transition: width 0.3s;
}

.strength-weak {
    background-color: red;
    width: 0%;
}

.strength-medium {
    background-color: orange;
    width: 0%;
}

.strength-strong {
    background-color: green;
    width: 0%;
}

.requirement {
    color: red;
    transition: opacity 0.3s, transform 0.3s;
    transform: translateY(0);
}

.requirement.hidden {
    opacity: 0;
    transform: translateY(-10px);
    height: 0;
    overflow: hidden;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}


#requirements {
    transition: max-height 0.3s ease-in-out;
    overflow: hidden;
}

footer {
    background-color: var(--light-gray);
    padding: 20px 150px;
}

#footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#footer-links, #footer-contact, #newsletter-section {
    flex: 1;
    margin: 0 10px;
}

#footer-links h4, #footer-contact h4, .newsletter-title {
    margin-bottom: 10px;
    font-size: 18px;
    color: #000000;
}

#footer-links ul, #footer-contact ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#footer-links li, #footer-contact li {
    margin: 25px 0;
    margin-left: 0px;
}

.contact-icons {
    display: flex;
    flex-direction: column;
    margin: 25px;
    margin-top: 0px;
    margin-left: 0px;
}

.contact-item {
    display: flex;
    align-items: center;
    margin: 10px 0;
    color: var(--dark-gray);
    text-decoration: none;
}

.contact-item img {
    width: 24px;
    height: auto;
    margin-right: 10px;
}

#footer-links a, #footer-contact a {
    color: var(--dark-gray);
}

#footer-links a:hover, #footer-contact a:hover {
    text-decoration: underline;
}

.newsletter-section {
    margin-top: 20px;
}

.newsletter-title {
    margin-bottom: 10px;
    color: var(--primary-color);
}

.newsletter-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.newsletter-form input[type="email"] {
    padding: 10px 15px;
    border: 1px solid var(--light-gray);
    border-radius: 25px 0 0 25px;
    outline: none;
    flex: 1;
    height: 40px;
    transition: border-color 0.3s ease;
}

.newsletter-form input[type="email"]::placeholder {
    color: var(--dark-gray);
    opacity: 0.6;
}

.newsletter-form input[type="email"]:focus {
    border-color: var(--primary-color);
}

.newsletter-form button {
    padding: 10px 20px;
    border: none;
    border-radius: 0 25px 25px 0;
    background-color: var(--primary-color);
    color: white;
    height: 40px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: -1px;
    flex: 0 0 120px;
}

.newsletter-form button:hover {
    background-color: var(--secondary-color);
}

.footer-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.copyrights {
    color: var(--dark-gray);
    font-size: 12px;
    text-align: center;
    margin: 0;
    margin-top: 15px;
    position: relative;
    flex: 1;
}

.social-media {
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
}

.social-media a {
    margin-left: 15px;
}

.social-media img {
    width: 24px;
    height: auto;
}


footer {
    margin-top: 40px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 40px;
    width: 85%;
    margin: 0 auto;
    padding: 20px 0;
}

.product-card {
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    text-decoration: none;
}

.product-card:hover {
    transform: scale(1.03);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    background-color: #f9f9f9;
}

.product-card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 4px;
    margin-bottom: 15px;
    transition: transform 0.3s ease;
}

.product-card:hover img {
    transform: scale(1.05);
}

.product-card h3 {
    font-size: 18px;
    margin: 10px 0 5px;
    transition: color 0.3s ease;
}

.product-card:hover h3 {
    color: #E53935;
}

.product-card p {
    margin: 5px 0;
    font-size: 16px;
    color: #333;
    transition: color 0.3s ease;
}

.product-card:hover p {
    color: #666;
}

.product-card .price {
    font-weight: bold;
    color: #E53935;
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 15px;
    transition: color 0.3s ease;
}

.product-card:hover .price {
    color: #d32f2f;
}



.swiper-container {
    width: 100%;
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
}


.swiper-slide {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}


.swiper-button-next, .swiper-button-prev {
    
    color: lightblue;
    font-size: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

.swiper-button-next {
    right: 20px; 
}


.swiper-button-prev {
    left: 20px;
}

.swiper-button-next:hover, .swiper-button-prev:hover {
    color: black;
    transition: 0.7s;
}


.swiper-pagination {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    text-align: center;
    z-index: 10;
}


.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: rgb(255, 0, 0) !important;
    margin: 0 5px;
    border-radius: 50%;
}


.swiper-pagination-bullet-active {
    background-color: #ff017d !important;
}
